* {
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: "Nunito font";
}

@font-face {
    font-family: 'Nunito font';
    src: url('font/Nunito-VariableFont_wght.ttf') format('ttf');
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    font-size: 150%;
    color: gray;
    cursor: pointer;
    margin: 0 3.5%;
}

nav a:hover {
    color: black;
}

.btn {
    width: 15%;
    padding: 1.5%;
    border-radius: 3.125rem;
    cursor: pointer;
    border: none;
}

.login {
    color: black;
}

.signup {
    color: white;
    background-color: pink;
}

nav span {
    font-weight: bold;
}

.invitation {
    width: 50%;
    margin: 0 auto;
}

.invitation h1 {
    font-size: 500%;
    width: 50%;
}

.apple {
    position: relative;
}

.apple img {
    width: 20%;
    position: absolute;
    left: 3%;
    top: 20%;
}

.play-store {
    position: relative;
}

.play-store img {
    width: 15%;
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translateY(-50%); 
}

.download-buttons {
    display: flex;
    gap: 10%;
    width: 100%;
}

.download-buttons button {
    position: relative;
    flex:1;
    width: 100%;
    padding: 5%;
    border-radius: 0.625rem;
    font-weight: bold;
    cursor: pointer;
}

.download-buttons button:hover {
    border: palevioletred solid 0.0625rem;
    background-color: white;
    color: black;
}

.downloadbtn {
    background-color: transparent;
}

.applebtn {
    background-color: #283150;
    color: white;
}

main {
    display: flex;
    position: relative;
    margin: 3% auto;
    background-color: rgb(218, 243, 242);
}

.portfolio {
    background-color: white;
    margin: 3% auto;
    width: 30%;
    padding: 0 2%;
}

.promo-message {
    display: flex;
    gap: 3%;
}

.download-speed {
    position: absolute;
    top: 85%;
    background-color: white;
    width: 25%;
    right: 15%;
    border-radius: 1.25rem;
    z-index: 2;
}

.dev-sugesstions {
    position: absolute;
    z-index: 3;
    right: 3%;
    top: 45%;
    width: 10%;
    background-color: white;
}

.profile-pic {
    border-radius: 50%;
    width: 10%;
}

.dev-image {
    z-index: 2;
    position: absolute;
    top: 60%;
    left: 80%;
    border-radius: 2.5rem;
}

.profile-details {
    display: flex;
    gap: 70%;
}

.experience {
    padding-top: 10%;
}

#confirmation {
    background-color: rgb(200, 245, 230);
    width: 65%;
    color: blue;
}

.partnership {
    margin: 10% auto;
}

.partnership img {
    margin-right: 4%;
}

.logo-png {
    width: 15%;
    padding: 0 5%;
}

.logo-jpg {
    width: 15%;
    padding: 0 3%;
}

.customer-interface {
    display: flex;
    gap: 6.25rem;
    background-color: beige;
    margin: 0 0 15%;
}

.app-interface {
    width: 30%;
    color: #283150;
    margin: 10% auto;
}

.app-settings {
    width: 30%;
    rotate: 3deg;
    margin: 5%;
    background-color: lightgoldenrodyellow;
}

.know-more-btn {
    color: white;
    background-color: #283150;
    border-radius: 0.9375rem;
    padding: 4%;
    width: 40%;
    font-weight: bold;
    cursor: pointer;
}

.name {
    font-weight: bold;
    font-size: 1.25rem;
}

.career {
    color: gray;
}

.lang {
    display: flex;
    gap: 30%;
}

.menu {
    font-size: 150%;
}

.profile {
    margin: 3%;
    rotate: 10deg;
    background-color: lightgoldenrodyellow;
}

.profile button {
    width: 100%;
    border-radius: 0.9375rem;
    padding: 2%;
    font-weight: bold;
}

.profile .login {
    background-color: transparent;
    color: black;
    margin-bottom: 8%;
    cursor: pointer;
}

.profile .signup {
    background-color: pink;
    color: white;
    cursor: pointer;
}

.products {
    background-color: rgb(218, 243, 242);
    padding: 5%;
}

.customer-options {
    width: 100%;
    display: flex;
    gap: 5%;
    margin: 0 20%;
    text-align: center;
}

.customer-options div {
    background-color: white;
    padding: 8%;
}

.customer-options a {
    text-decoration: none;
    color: black;
}

.customer-options a:hover {
    border: palevioletred solid 0.0625rem;
}

.statics {
    display: flex;
    background-color: beige;
    margin: 15%;
    gap: 30%;
}

.user-data {
    display: flex;
    gap: 15%;
}

.tutorial {
    background-color: white;
    width: 100%;
    display: flex;
}

.download {
    display: flex;
    width: 90%;
    margin: 10% auto;
}

.consider-download {
    width: 50%;
}

.consider-download img {
    width: 60%;
}

.download-options {
    width: 50%;
    margin-top: 8%;
}

.contact {
    color: black;
}

.unhighlighted-text {
    color: gray;
}

.app {
    background-color: #283150;
    color: white;
}

.play {
    color: black;
}

.heading {
    font-size: 300%;
}

.store {
    border-radius: 1.25rem;
    padding: 3%;
    width: 30%;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
}

.highlighted-text {
    color: black;
    text-decoration: underline;
}

.testimonials {
    display: flex;
    gap: 3.125rem;
    justify-content: center;
}

.testimonials a {
    text-decoration: none;
    color: black;
}

.testimonials img {
    border-radius: 50%;
    width: 15%;
}

.know-more {
    color: red;
    text-decoration: underline;
}

.clients {
    background-color: beige;
}

.center {
    text-align: center;
}

.edwin-testimony {
    width: 40%;
    position: relative;
}

.edwin-testimony .ratings {
    position: absolute;
    right: 2%;
    top: 10%;
}

.jecson-testimony {
    width: 40%;
    position: relative;
}

.jecson-testimony .ratings {
    position: absolute;
    right: 2%;
    top: 10%;
}

footer {
    background-color: #283150;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1%;
    flex-wrap: wrap;
    flex-direction: column;
}

footer li:not(:first-child) {
    color: gray;
}

.footer-upper {
    display: flex;
}

.footer-upper img {
    margin-top: 4%;
}

.footer-upper span {
    margin-top: 4%;
}

.term-policy {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: rgb(10, 10, 24);
    padding: 3%;
    font-size: large;
}

footer .term-policy p:nth-last-child(1) {
    border-left: 0.1875rem solid white;
    padding-left: 15%;
}

.offers {
    list-style-type: none;
}

footer li:first-child {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 4%;
}

footer ul {
    list-style-type: none;
    line-height: 2.5rem;
   
}

.fa-brands {
    padding-right: 3%;
    margin-top: 8%;
}

@media (max-width: 1024px) {
    .invitation h1 {
        font-size: 350%;
    }
    .portfolio {
        width: 45%;
    }
    .download-speed {
        width: 20%;
    }
    .dev-sugesstions {
        width: 15%;
    }
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .btn {
        width: 30%;
    }
    .invitation {
        width: 80%;
    }
    .invitation h1 {
        font-size: 250%;
    }
    .portfolio {
        width: 100%;
    }
    .download-speed {
        position: static;
        width: 100%;
        margin: 2% 0;
    }
    .dev-sugesstions {
        position: static;
        width: 100%;
        margin: 2% 0;
    }
    .dev-image {
        position: static;
        width: 50%;
    }
    .customer-interface {
        flex-direction: column;
        gap: 2%;
    }
    .app-interface, .app-settings, .profile {
        width: 100%;
    }
}

@media (max-width: 480px) {
    nav a {
        font-size: 100%;
    }
    .invitation h1 {
        font-size: 150%;
    }
    .download-buttons button {
        padding: 10%;
    }
    .footer-upper {
        flex-direction: column;
    }
}